body {
	color: #000;
	font-family: 'Varela Round', sans-serif;
	font-size:13px;
	text-align:center;
	font-weight: bold;
	background-color: #fff;
	margin: 0px;
	overflow: hidden;
}

#info {
	color: #555;
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 5px;
	font-size: 1.5em;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none !important;
}

#ui {
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 0.25em;
	border-left: 1px solid #888;
	border-bottom: 1px solid #888;
	border-bottom-left-radius: 5px;
	width: 34em;
}

#ui div {
	margin: 0.25em;
	z-index: 100;
}

#ui textarea {
	min-height: 20em;
	min-width: 32em;
}

#ui #log {
	text-align: left;
}

#ui #log .alert {
	color: red;
}

#ui #loading {
	text-align: left;
	min-height: 31px;
	padding-left: 35px;
	background-image: url('loader.gif');
	display: none;
	background-repeat: no-repeat;
	padding-top: 0.5em;
}

#addresses {
	display: none;
}

#loader {
	margin-top: 10em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
